.builds.build.row
  .span9
    .page
      .header.no-avatar
        %h1= @build.name
      - if @build.video
        %iframe.youtube{:allowfullscreen => "", :frameborder => "0", :height => "500", :src => "http://www.youtube.com/embed/#{@build.video}", :width => "100%"}
      - if @build.body != nil
        .body.show
          != render_markdown(@build.body)

  .sidebar.scroll.span3
    - if current_user && (current_user.username == @build.user.username || current_user.role == "egocentric")
      .admin
        %a.btn.edit{:href => edit_build_path(@build.id)} Edit
        = link_to "Delete", build_path, :method => :delete, :class => "btn delete"
    %ul.nav
      %li.top
      %li.meta
        .left 
          Author
        .right
          %a{:href => "#"}
            = @build.user.username
      %li.meta
        .left Date
        .right
      %li.meta
        .left Type
        .right
          = @build.type.capitalize
