.build.row
  .page.span9
    .header.no-avatar
      %h1= @build.name
    - if @build.video
      %iframe.youtube{:allowfullscreen => "", :frameborder => "0", :height => "500", :src => "http://www.youtube.com/embed/#{@build.video}", :width => "100%"}
    - if @build.body != nil
      .body.show
        != render_markdown(@build.body)
  .sidebar.scroll.span3
    %ul.nav
      %li.top
      %li.meta
        .left By
        .right
          %a{:href => "#"}
            = @build.user.username
      %li.meta
        .left Date
        .right
      %li.meta
        .left Type
        .right
          = @build.type.capitalize
